


body {
	font-family:   arial,helvetica,sans-serif;
	background-image: url(../images/tower.jpeg);
	background-size: cover;
	padding: 1em 1em;
}

input,button{
	font-family: inherit;
}

main {
	background-color: rgba(0, 0, 0,0.7);
	height: 100vh;
}

.logo {
	color: white;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: normal;
	padding: 0.5em 1em;
	font-size: 2em;
	background-color: #000;
}

.inputForm {
	margin: 0em 1em;
}

#stockCodetext{
	font-size: 1em;
	padding: 0.5em 0.5em;
	border: 1px solid #ccc;
	border-radius: 4px;
}

button{
	background-color: #0537da;
	border: none;
	color: white;
	padding: 0.5em 0.7em;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1em;
	-webkit-transition-duration: 0.2s; /* Safari */
	transition-duration: 0.2s;
	border-radius: 4px;
	margin: 0em 2em;
}
button:hover {
	background-color: white;
	color:  #0537da;
  }