<html>
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<script src="http://localhost:8080/jquery-3.4.1.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){

			
			// $("#ajaxTest").click(function(){
			// 	$.get("http://localhost:8080/ajax",function(data, status){
			// 		console.log(data);
			// 		$("#jsonTxt").text(JSON.stringify(data));
			// 	})
			// });

			$("#ajaxTest").click(function(){
				$.ajax({
					type : "POST",
					// contentType : "application/json",
					url : "http://localhost:8080/ajax",
					data : {stockCode: "1234"},
					success : function(data) {
						console.log("SUCCESS: ", data);
						alert(data);
					},
					error : function(e) {
						console.log("ERROR: ", e);
						alert(e);
					},
					done : function(e) {
						console.log("DONE");
					}
				});
			});
		});
    </script>
  </head>
  
  <body>
	  
		<button id="ajaxTest">id=ajaxTest</button>
		<p id="jsonTxt"></p>
	</div>
  </body>
</html>