<!DOCTYPE html>
<html lang="ja">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Chart</title>
	<script th:src="@{/js/jquery-3.4.1.min.js}" src="../static/js/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script th:src="@{/js/chart.js}" src="../static/js/chart_local.js"></script>
	<link rel="stylesheet" th:href="@{/css/main.css}" href="../static/css/main.css">
</head>
<body>
<div id=transbox>
	<main>
		<!-- <img class="logo" src="../static/images/logo.png" /> -->
		<p class="logo">This is a heading</p>
		<!--- 銘柄コードを受け付けるボックス --->
		<input type = "text" maxlength = "4" id='stockCodetext' value="2301">
		<button id='drawChart'>チャート描画</button>
		<!--- ローソク足及び移動平均線グラフを配置 --->
		<div id='appendMain'></div>
		<!--- 出来高の棒グラフを配置 --->
		<div id='appendVolume'></div>
	</main>
</div>
</body>
</html>